<section id="services" class="section">
    <div class="container">
        <div class="section-header solo">
            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
                Nos actions</h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
            <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet eius id itaque laboriosam nam nemo porro quis repellat sit voluptas. Atque consequatur eveniet excepturi maiores molestias quibusdam rerum totam unde.<br />
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem et nam nihil optio! Ab impedit, magni? Accusantium adipisci nesciunt odit perspiciatis quisquam quod suscipit voluptas? Eum fugit nulla officiis ratione!
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
                    <div class="icon">
                        <i class="lnr lnr-construction"></i>
                    </div>
                    <h4>Représentations d'une pièce</h4>
                    <p>Tous les ans, nous montons une pièce pour la présenter dans un théâtre parisien à la fin de
                        l'année.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.6s">
                    <div class="icon">
                        <i class="lnr lnr-bubble"></i>
                    </div>
                    <h4>Improvisations</h4>
                    <p>Tout au long de l'année, nous organisions des événements ouverts à tous les étudiants, pour
                        faire de
                        l'improvisation.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="1.0s">
                    <div class="icon">
                        <i class="lnr lnr-smile"></i>
                    </div>
                    <h4>Stand-up</h4>
                    <p>Les Yé Misti'Show sont des soirées mensuelles où des humoristes viennent performer au sein de
                        l'école.</p>
                </div>
            </div>
        </div>
    </div>
</section>
