<div class="counters section" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="facts-item">
          <div class="icon">
            <i class="lnr lnr-clock"></i>
          </div>
          <div class="fact-count">
            <h3>
              <span class="counter">21</span>
            </h3>
            <h4>Années d'existence</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="facts-item">
          <div class="icon">
            <i class="lnr lnr-calendar-full"></i>
          </div>
          <div class="fact-count">
            <h3>
              <span class="counter">10</span>
            </h3>
            <h4>Événements par an</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="facts-item">
          <div class="icon">
            <i class="lnr lnr-heart"></i>
          </div>
          <div class="fact-count">
            <h3>
              <span class="counter">619</span>
            </h3>
            <h4>Fans sur Facebook</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>