<section id="features" class="section" data-stellar-background-ratio="0.2">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Pourquoi Yé Mistikrik?</h2>
            <hr class="lines">
            <p class="section-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dignissimos!
                <br> Lorem ipsum dolor sit amet, consectetur.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <div class="text name-origin">
                    <h4 id="why-ym">L'origine du nom</h4>
                    <i>Yé Mistikrik</i>, mot d'origine Créole signifie "<i>Est ce que la salle dors ?</i>".<br />
                    Le public répond alors <i>"Yé Mistikrak non la salle ne dort pas !".</i>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                            <span class="icon">
                                <i class="lnr lnr-question-circle"></i>
                            </span>
                            <div class="text">
                                <h4>20 ans de pièces</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                            <span class="icon">
                                <i class="lnr lnr-laptop-phone"></i>
                            </span>
                            <div class="text">
                                <h4>Une équipe soudée</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                            <span class="icon">
                                <i class="lnr lnr-layers"></i>
                            </span>
                            <div class="text">
                                <h4>Envie de nous aider ?</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                            <span class="icon">
                                <i class="lnr lnr-cog"></i>
                            </span>
                            <div class="text">
                                <h4>Merci !</h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>