<section id="services" class="section">
    <div class="container">
        <div class="section-header solo">
            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
                Plus d'informations
            </h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
            <div class="row">
                <div class="col-md-6">
                    <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
                        Envie de savoir qui est derrière Yé Mistikrik?, et ce que nous faisons ?<br/>
                        Ça tombe bien, on a fait une page entière rien que pour nous présenter !</p><br />

                    <a href={{ "/ym/" | relative_url }} class="btn btn-common wow fadeInUp" data-wow-duration="1000ms"
                        data-wow-delay="400ms">Je veux en savoir plus sur vous !</a>
                </div>
                <div class="col-md-6">
                    <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
                        Que vous le sachiez ou pas, nous organisons fréquement des soirées stand-up.
                        Pour tout savoir sur notre Pôle Stand-Up, avec nos artistes et événements, c'est juste là !
                    </p><br />
                    <a href={{ "/ym-show/" | relative_url }} class="btn btn-common wow fadeInUp" data-wow-duration="1000ms"
                        data-wow-delay="400ms">Je veux en savoir plus sur le Stand-Up !</a>
                </div>
            </div>
        </div>
    </div>
</section>