<section id="services" class="section">
    <div class="container">
        <div class="section-header solo">
            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
                Plus d'informations
            </h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
            <div class="row">
                <div class="col-md-6">
                    <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid atque beatae blanditiis consequatur corporis deleniti dolorem eius explicabo hic illum mollitia, nemo nesciunt, porro, possimus quidem ratione sunt tenetur! Asperiores!</p><br />

                    <a href={{ "/ym/" | relative_url }} class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Yé Mistikrik ?</a>
                </div>
                <div class="col-md-6">
                    <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, enim, maiores! Accusantium alias beatae consequuntur error, excepturi harum inventore iure maiores minima minus, molestias quas quis quo repellat sed, vitae?</p><br />
                    <a href={{ "/ym-show/" | relative_url }} class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">Yé Misti'Show</a>
                </div>
            </div>
        </div>
    </div>
</section>
