<section id="services" class="section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
                Nos actions</h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
            <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">
                Depuis plus de 20 ans, Yé Mistikrik propose aux étudiants de l'Efrei de découvrir le théâtre, sous
                toutes ses
                formes.<br> Que
                ce soit la préparation d'une pièce, de l'improvisation ou du stand-up, tous les étudiants sont invités
                à
                découvrir
                notre passion, en tant que participant ou simple spectateur.</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
                    <div class="icon">
                        <i class="lnr lnr-construction"></i>
                    </div>
                    <h4>Représentations d'une pièce</h4>
                    <p>Tous les ans, nous montons une pièce pour la présenter dans un théâtre parisien à la fin de
                        l'année.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.6s">
                    <div class="icon">
                        <i class="lnr lnr-bubble"></i>
                    </div>
                    <h4>Improvisations</h4>
                    <p>Tout au long de l'année, nous organisions des événements ouverts à tous les étudiants, pour
                        faire de
                        l'improvisation.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="1.0s">
                    <div class="icon">
                        <i class="lnr lnr-smile"></i>
                    </div>
                    <h4>Stand-up</h4>
                    <p>Les Yé Misti'Show sont des soirées mensuelles où des humoristes viennent performer au sein de
                        l'école.</p>
                </div>
            </div>
        </div>
    </div>
</section>