<section class="video-promo section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="video-promo-content text-center">
                    <h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">
                        Notre prochain spectacle
                    </h2>
                    {% assign shows = (site.show | sort: 'date') | reverse %}
                    {% for show in shows limit:1 %}
                    {% capture cover_img %}assets/img/covers/{{ show.cover }}{% endcapture %}
                    <p class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">
                        <img class="img-fluid d-block" src="{{ cover_img | relative_url }}" alt="{{ show.description }}" /><br /><br />
                        <a href="{{ show.url | relative_url }}" class="btn btn-common btn-invert wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">{{ show.title }}</a>
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
