<section class="video-promo section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="video-promo-content text-center">
          <h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">
            Rejoignez-nous sur les <span data-toggle="tooltip" data-placement="top" title="Pouloulou">réseaux</span></h2>
          <p class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">
            C'est le meilleur moyen pour être au courant de tous nos évenements, mais aussi pour nous contacter
            rapidement !
          </p>
          <div class="social-icons">
            <ul>
              <li class="facebook">
                <a href="https://www.facebook.com/Ye.Mistikrik/">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="instagram">
                <a href="https://www.instagram.com/Ye.Mistikrik/">
                  <i class="fa fa-instagram"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>