<section class="video-promo section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="video-promo-content text-center">
                    <h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">
                        Notre historique
                    </h2>
                    <p class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">
                       En 20 ans, il s'en passe des choses. Pour bien s'en rappeler, voici tous nos moments forts, et toutes les pièces jouées depuis notre création...
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="timeline-spectacles">
                    {% assign timeline_ordered = site.timeline | order: 'year' %}

                    {% for timeline in timeline_ordered reversed %}
                    <div class="timeline wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="100ms">
                        <a href="{{ timeline.link | relative_url }}" class="timeline-content">
                            <span class="year">{{ timeline.year }}</span>
                            <div class="inner-content">
                                <h3 class="title">{{ timeline.title }}</h3>
                                <p class="description">
                                    {{ timeline.description }}
                                </p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
