//All Preset color variables are here
$primary-font: 'Poppins', sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;
$letter-spacing: 0;

/* Purple */

$purple: #7840b8;
$purple-dark: #3C205B;
//Current Preset Declareation
$preset: $purple;
$preset-dark: $purple-dark;
