---
layout: default
css: page
---

<div class="margin-navbar">
  <article class="post">

      <div class="row justify-content-md-center contents text-center">
          <div class="col-md-10">
              <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
                  {{ page.title | escape }}
              </h1>
          </div>
          <div class="col-md-7">
              <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">
                  {{ page.description | escape }}
              </p>
          </div>
      </div>

      <div class="post-content">
          <div class="container">
          {{ content }}
          </div>
      </div>
  </article>
</div>
